.my-speech-box {
  position: relative;
  margin: 15px 0 15px;
  left: 85%;
  width: 120px;
  height: 70px;
  border-radius: 20px;
  background: rgb(54, 155, 54);
}

.fd-speech-box {
  position: relative;
  margin: 15px 0 15px;
  left: 5%;
  width: 120px;
  height: 70px;
  border-radius: 20px;
  background: rgb(172, 168, 168);
}
